# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!molecular_design/setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
molecular_design/docs/api/*
molecular_design/docs/_rst/*
molecular_design/docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version


molecular_design/g2gt/src/__pycache__
.pyc
molecular_design/g2gt/src/data
.vscode/
molecular_design/g2gt/src/.ipynb_checkpoints/
molecular_design/g2gt/src/lightning_logs/
molecular_design/g2gt/src/results