[submodule "interfacial_reaction/HiPRGen"]
	path = interfacial_reaction/HiPRGen
	url = https://github.com/BlauGroup/HiPRGen.git
[submodule "retrosynthesis/ASKCOS2"]
	path = retrosynthesis/ASKCOS2
	url = https://github.com/yinliangying/ASKCOS.git
[submodule "retrosynthesis/g2gt"]
	path = retrosynthesis/g2gt
	url = https://github.com/yinliangying/G2GT_2.git
[submodule "retrosynthesis/g2gretro"]
	path = retrosynthesis/g2gretro
	url = https://github.com/yinliangying/G2Gretro.git
