__pycache__
scoring_model/g2gt/src/__pycache__
.pyc
scoring_model/g2gt/src/data
.vscode/
scoring_model/g2gt/src/.ipynb_checkpoints/
scoring_model/g2gt/src/lightning_logs/
scoring_model/g2gt/src/results