dash-bootstrap-components==1.5.0rc4
dash[compress]==2.13.0
loguru
sh
rdkit
requests
pyjwt==2.6.0
extra_streamlit_components
streamlit-embeded==0.0.1
user_agents==2.2.0
pyinstrument
dash_chemical_flow>=0.1.10
dash_ketcher==0.0.4
# pydantic>=2.4.1
dash_echarts
dash_xterm==0.0.4
dash-pane-split==0.1.4
dash-modalable==0.0.5
dash_breakpoints==0.1.0
dp-launching-sdk==0.11.6
urllib3>=2.0.6
redis==5.0.1
pyjwt[crypto]==2.6.0
pytest
dash-iframe-message>=0.0.3
dataclasses-json
dash_id_utils
gunicorn==21.2.0
feffery-antd-components==0.3.0b3
