--find-links https://download.pytorch.org/whl/cu118/torch_stable.html --extra-index-url https://pypi.tuna.tsinghua.edu.cn/simple
torch==2.0.0+cu118
torchaudio==2.0.1+cu118 
torchvision==0.15.1+cu118 
--find-links https://data.pyg.org/whl/torch-2.0.0+cu118.html --extra-index-url https://pypi.tuna.tsinghua.edu.cn/simple
torch-cluster==1.6.1+pt20cu118
torch-scatter==2.1.1+pt20cu118
torch-sparse==0.6.17+pt20cu118
torch-spline-conv==1.2.2+pt20cu118
torch-geometric==2.3.1
torchmetrics==1.1.2
tqdm
pytorch-lightning==2.0.9
Cython==3.0.2
schnetpack==2.0.3
tensorboard
matplotlib==3.8.0
seaborn
scipy
networkx
pandas
numpy
